/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#581413;
    background-image:linear-gradient(top, #581413 0%, #581413 51%);
    background-image:-webkit-linear-gradient(top, #581413 0%, #581413 51%);
    background-image:-ms-linear-gradient(top, #581413 0%, #581413 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #581413),
        color-stop(0.51, #581413)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:100%;
    margin: 0px;
    border-width: 0px;
    padding: 0px;
    text-transform:uppercase;
    color:#FFFFFF;
}

/* Portrait layout (default) */
.logo {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:250px;                   /* text area width */
    text-align:center;
    padding:230px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .logo {
        background-position:left center;
        padding:128px 0px 128px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-128px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:20px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

TABLE {
    width: 100%;
}
.main {
    display: none;
}
.setAsDialog {
    display: none;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #210A0B;
}
.category-dialog-window {
    position:absolute;
    top:25%;
    left:25%;
    width:50%;
    background-color: #210A0B;
    padding: 1px;
    box-shadow: 0px 0px 10px #310A0B;
    border-style: ridge;
    border-color: #990100;
    border-width: 3px 3px 3px 3px;
    border-radius: 0px 0px 0px 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-dialog-button {
    background-color: #310A0B;
    padding: 1px;
    box-shadow: 0px 0px 10px #310A0B;
    border-style: ridge;
    border-color: #990100;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-red {
    background-color: #310A0B;
    padding: 1px;
    box-shadow: 0px 0px 10px #310A0B;
    border-style: ridge;
    border-color: #990100;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
	text-align: center;
    font-size:20px;
	text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-red-ringer {
    background-color: #310A0B;
    padding: 1px;
    box-shadow: 0px 0px 10px #310A0B;
    border-style: ridge;
    border-color: #FFFF00;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-red:hover, .category-red:focus, .category-red:active
{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.label-red {
    background-color: #310A0B;
    padding: 1px;
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-yellow {
    background-color: #4C3E00;
    padding: 1px;
    box-shadow: 0px 0px 10px #4C3E00;
    border-style: ridge;
    border-color: #FFD800;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-yellow-ringer {
    background-color: #4C3E00;
    padding: 1px;
    box-shadow: 0px 0px 10px #4C3E00;
    border-style: ridge;
    border-color: #FFFF00;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-yellow:hover, .category-yellow:focus, .category-yellow:active
{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.label-yellow {
    background-color: #4C3E00;
    padding: 1px;
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-blue {
    background-color: #004A7F;
    padding: 1px;
    box-shadow: 0px 0px 10px #4C3E00;
    border-style: ridge;
    border-color: #0094FF;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-blue-ringer {
    background-color: #004A7F;
    padding: 1px;
    box-shadow: 0px 0px 10px #4C3E00;
    border-style: ridge;
    border-color: #FFFF00;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-blue:hover, .category-blue:focus, .category-blue:active
{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.label-blue {
    background-color: #004A7F;
    padding: 1px;
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-green {
    background-color: #007F0E;
    padding: 1px;
    box-shadow: 0px 0px 10px #4C3E00;
    border-style: ridge;
    border-color: #00FF21;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-green-ringer {
    background-color: #007F0E;
    padding: 1px;
    box-shadow: 0px 0px 10px #4C3E00;
    border-style: ridge;
    border-color: #FFFF00;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-green:hover, .category-green:focus, .category-green:active
{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.label-green {
    background-color: #007F0E;
    padding: 1px;
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-pasda {
    background-color: #662800;
    padding: 1px;
    box-shadow: 0px 0px 10px #662800;
    border-style: ridge;
    border-color: #FF6A00;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-pasda-ringer {
    background-color: #662800;
    padding: 1px;
    box-shadow: 0px 0px 10px #662800;
    border-style: ridge;
    border-color: #FFFF00;
    border-width: 3px 3px 3px 3px;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.category-pasda:hover, .category-pasda:focus, .category-pasda:active
{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.label-pasda {
    background-color: #662800;
    padding: 1px;
    text-align: center;
    font-size:20px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.setringer {
    position:fixed;
    top:90%;
    left:0px;
    width:100%;
    height:10%;
    background-color: #310A0B;
    padding: 4px;
    border-style: ridge;
    border-color: #990100;
    border-width: 3px 0px 0px 0px;
    text-align: center;
    font-size:15px;
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
}
.setringer-gold {
    position:fixed;
    top:90%;
    left:0px;
    width:100%;
    height:10%;
    background-color: #310A0B;
    padding: 4px;
    border-style: ridge;
    border-color: #FFFF00;
    border-width: 3px 0px 0px 0px;
    text-align: center;
    font-size:15px;
    text-shadow: 0px 0px 12px #ffff00;
    color:#FFFF00;
    text-decoration:none;
}
SPAN.bright {
    text-align: center;
    font-size:20px;
	text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
TD {
  padding:1px;
}
HR {width:90%; box-shadow: 0px 0px 10px #310A0B; color:#990100; border-color:#990100;}
